<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      &#127869 Current Menu
    </h2>
  </div>

  <div class='add-dish-container'>
    <h2>
      Tells us about the food you ate!
    </h2>
    <form class='new-dish-form'>
      <label for='dish_name'>
        Dish Name:
      </label>
      <br />
      <textarea id='dish_name' name='food_name' rows='2' cols='30'>

      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>

      </textarea>
      <br />

      {{!-- ADDING THE URL SECTION --}}
      {{!-- <label for='photo_url'>
        Add a photo from the web of your food:
      </label>
      <br />
      <textarea id='photo_url' name='photo_url' rows='2' cols='30'>

      </textarea> --}}
      
      <br />
      <br />
      <label for='price'>
        Price:
      </label>
      <br />
      <input type="number" id="price" name="price" rows="2" cols="30">

      </input>
      <br />
      <label for="tag-name">
        Tags:
      </label>
      <br />
      <textarea id="tag_name" name="tag_name" rows="5" cols="30">

      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new dish -->
<script src='/js/newFood.js'></script>
<!-- Scrollable modal -->