<div class="dashboard">
  <h1> Hello {{username}} What do you want to do today?</h1>
  <br>
  <div class="search-job">
    <button><a href="/">Search for a jobs</a></button>
  </div>
  <br>
  <div class="search-job">
    <button><a href="/addJob">Add a job</a></button>
  </div>
  <br>
  <div class="search-job">
    <button><a href="/alljobs">See Recent Jobs</a></button>
  </div>
  <br>
  <h1>Click this link to see a job you will like </h1>
  <br>
    <div class="search-job">
    <button><a href="/post/1"> Todays Special </a></button>
  </div>
  <br>
</div>