<head>
    <meta charset="UTF-8">
    <title>The Rolling Scones</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h1 class="navbar-brand" href="#">The Rolling Scones</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" id='login-link' href="/login">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id='signup-link' href="/login">Sign up</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    
    </header>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    <script> src="/js/</script>
</body>

</html>